<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="fruta in frutas" v-bind:key="fruta">{{fruta}}</li>
        </ul>
        <ul>
            <li v-for="(fruta, index) in frutas_con_id" v-bind:key="fruta">{{index}}-{{fruta.id}}-{{fruta.nombre}}</li>
        </ul>
        <select v-model="frutaId">
            <option v-for="fruta in frutas_con_id" v-bind:value="fruta.id">{{fruta.nombre}}</option>
        </select>

        <ul>
            <li v-for="(fruta, index) in frutas_con_id" v-bind:key="fruta">{{index}}-{{fruta.id}}-{{fruta.nombre}}
                <ul>
                    <li v-for="pais in fruta.paises_origen">
                        Pais: {{pais.id_pais}}-{{pais.pais}}                    
                    </li>
                </ul>
            </li>
            <ul>
                <li v-for="l in letras">
                    {{l}}
                </li>
            </ul>
            <ul>
                <li v-for="numero in 100">{{numero}}</li>
            </ul>
        </ul>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = {
            data() {
                return {
                    letras: 'abcde',
                    frutaId: 2,
                    frutas: ['Manzanas', 'Pera', 'Uva'],
                    frutas_con_id: [
                        {
                            id: 1, nombre: 'Manzana', paises_origen: [
                                { id_pais: 1, pais: 'El Salvador' },
                                { id_pais: 1, pais: 'Guatemala' }
                            ]
                        },
                        {
                            id: 2, nombre: 'Pera', paises_origen: [
                                { id_pais: 3, pais: 'Honduras' },
                                { id_pais: 4, pais: 'Nicaragua' },
                            ]
                        },
                        {
                            id: 3, nombre: 'Uva', paises_origen:null
                        }

                    ]
                }
            }

        }
        var mountedApp = Vue.createApp(app).mount('#app');
    </script>
</body>

</html>